<!doctype html>
<html lang="en">
<head>
<title>Jmaster</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<h3>Chi tiết giỏ hàng</h3>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Tên</th>
				<th>Gía</th>
				<th>Số lượng</th>
				<th>Tạm tính</th>
				<th>Chọn</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="entry : ${session.cart}">
				<td th:text="${entry.key}"></td>
				<td th:text="${entry.value.product.name}"></td>
				<td th:text="${entry.value.buyPrice}"></td>
				<td th:text="${entry.value.quantity}"></td>
				<td th:text="${entry.value.quantity * entry.value.buyPrice}"></td>
				<td>
					<a th:href="@{'/delete-cart?id=' + ${entry.key}}">
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><h6>Tổng tiền</h6></td>
				<td th:text="${total}"></td>
			</tr>
		</tfoot>
	</table>
	<a th:href="@{/payment}">Thanh toán</a>
</body>
</html>
