<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >
	 <ul th:fragment="main-menu">
	 <h1>Lists</h1>
	
	 <li>
	 <a th:href="@{/bill/search}">Bill</a>
	 </li>
	 <li>
	 <a th:href="@{/billitem/search}">Billitem</a>
	 </li>
	 <li>
	 <a th:href="@{/category/search}">Category</a>
	 </li>
	  <li>
	 <a th:href="@{/product/search}">Product</a>
	 </li>
	 <li>
	 <a th:href="@{/user/search}">User</a>
	 </li>
	 <li>
	 <a th:href="@{/userrole/search}">Userrole</a>
	 </li>
	 </ul>
</body>
</html>